@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

.hamburger__menu {
  float: left;
  margin: 7px 7px 8px 7px;
  padding: 8px 8px 8px 8px;
  width: 38px !important;
  height: 36px !important;
  font-size: 25px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #666;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px 0px 5px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 42px;
  border: none;
  width: 100%;
  line-height: 15px;
  padding: 7px 10px 10px 10px;
  border-radius: 4px 0 0 4px;
}

.header__searchIcon {
  padding: 5px;
  height: 42px !important;
  width: 45px !important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.header__flag {
  line-height: 44px;
  height: 18px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 3px;
  padding-right: 11px;
}

.header__option {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none !important;
}

.header__optionLineOne {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.header__option:hover {
  border: 1px solid;
  border-radius: 2px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__optionBasket:hover {
  border: 1px solid;
  border-radius: 2px;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
